#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/fzf-help/usr/share/fzf-help
	cp -r src/* uninstall debian/fzf-help/usr/share/fzf-help/
	install -Dm644 LICENCE debian/fzf-help/usr/share/licenses/fzf-help/LICENSE
